@media only screen and (max-width: 760px) {
  /* For mobile phones: */
  .container {
    width: 90%;
    margin: 7.5% auto;
  }
}

@media only screen and (min-width: 768px) {
  /* For Desktop: */
  .container {
    width: 50%;
    margin: 2.5% auto;
  }
}

body {
  background-color: white;
  color: black;
  text-align: center;
  line-height: 1.5;
  font-display: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#header-image {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

h4 {
  font-style: italic;
}

.icon-container {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

hr {
  width: 60%;
}

a {
  text-decoration: none;
}

i {
  color: black;
}

a > i:hover {
  color: gray;
}